*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height:100vh;
    background-color:darkgrey;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}

body img{
    width: 1200px;
    height: 765px;
}